.wrapper {
  margin-bottom: 10px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .location {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(116, 116, 116);
    padding: 0 20px;
  }
  .edit {
    font-size: 25px;
    color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    height: 100%;
    .edit_text {
      padding-left: 20px;
    }
    .line {
      width: 1px;
      height: 20px;
      background-color: rgb(160, 160, 160);
    }
  }
}
