.wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 30px;
  overflow: hidden;
  justify-content: flex-end;
  background-color: white;
  .totalCount {
    color: grey;
    font-size: 25px;
  }
  .price {
    display: flex;
    justify-content: center;
    // align-items: flex-end;
    flex-direction: column;
    view {
      flex: 1;
      text-align: right;
    }
  }
  .text {
    font-size: 20px;
    display: inline-block;
    margin-right: 19px;
    color: orangered;
  }
  .totalPrice {
    font-weight: bold;
    color: red;
    font-size: 30px;
    margin: 0px 15px;
  }
  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text {
      display: inline-block;
      padding: 15px 0;
    }
    .title {
      font-weight: bold;
    }
    .price {
      color: red;
      font-weight: bold;
    }
    .desc {
      font-size: 20px;
      color: gray;
    }
  }
  .btn {
    text-align: center;
    width: 180px;
    height: 70px;
    line-height: 70px;
    border-radius: 40px;
    background-color: rgb(253, 137, 29);
    color: white;
    font-size: 28px;
  }
}
