@import "~taro-ui/dist/style/components/noticebar.scss";
@import "~taro-ui/dist/style/components/input-number.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
page {
  background-color: #fafafafa;
}
button::after {
  border: none;
  background-color: transparent !important;
}
