@import "~taro-ui/dist/style/components/noticebar.scss";
@import "~taro-ui/dist/style/components/input-number.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/swipe-action.scss";
page {
  background-color: #f8f8f8;
}
button::after {
  border: none;
  background-color: transparent !important;
}
.at-tabs__item--active {
  font-weight: bold;
}
.at-swipe-action__options {
  align-items: flex-start !important;
}
